<!-- ======= About Section ======= -->
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="/src/images/girl.jpg" class="img-fluid rounded b-shadow-a" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s">Name: </span> <span>Laura Ciotea</span></p>
                                        <p><span class="title-s">Profile: </span> <span>Full Stack Developer</span></p>
                                        <p><span class="title-s">Email: </span> <span>elaura39@yahoo.ro</span></p>
                                        <p><span class="title-s">Phone: </span> <span>0760695922</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-mf" id="skills">
                                <p class="title-s">Skill</p>
                                <span>HTML</span> <span class="pull-right">85%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>CSS5</span> <span class="pull-right">75%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>PHP</span> <span class="pull-right">50%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        About me
                                    </h5>
                                </div>
                                <p class="lead">
                                    Hello, my name is Laura. I have 27 years old and I am a Full Stack Developer.
                                    I am an ambitious and dedicated person, looking for an opportunity to start my professional career. 
                                    I have recently completed my studies in my field of interest and am excited to apply the knowledge and skills I have acquired in a practical environment.
                                </p>
                                <p class="lead">
                                    I always like to learn new things and I am open to challenges. 
                                    I am an organized, detail-oriented and hard-working person, willing to invest the necessary effort to achieve my goals. 
                                    I am eager to join a motivated team and contribute to the success of the organization through my passion for the respective field.
                                </p>
                                <p class="lead">
                                    I am convinced that through determination, perseverance and a constant desire to evolve, I will be able to build a successful career. I look forward to the opportunity to demonstrate my potential and learn from experienced professionals.
                                    I am available for an interview and to discuss more about how I can contribute to the success of your organization.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Section -->