<!-- ======= Contact Section ======= -->
<section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route"
    style="background-image: url(/src/images/banner2.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        Send Message Us
                                    </h5>
                                </div>
                               <!-- modify this form HTML and place wherever you want your form -->
<form
action="https://formspree.io/f/mpwrpjly"
method="POST"
>
<label>
  Your email:
  <input type="email" name="email">
</label>
<label>
  Your message:
  <textarea name="message"></textarea>
</label>
<!-- your other form fields go here -->
<button type="submit">Send</button>
</form>
                            <div class="col-md-6">
                                <div class="title-box-2 pt-4 pt-md-0">
                                    <h5 class="title-left">
                                        Get in Touch
                                    </h5>
                                </div>
                                <div class="more-info">
                                    <p class="lead">
                                        You can found me here, at this address, if you have the pleasure to have a look.
                                    </p>
                                    <ul class="list-ico">
                                        <li><span class="bi bi-geo-alt"></span> Mun. Bucuresti</li>
                                        <li><span class="bi bi-phone"></span> 0760.695.922</li>
                                        <li><span class="bi bi-envelope"></span>elaura39@yahoo.com</li>
                                    </ul>
                                </div>
                                <div class="socials">
                                    <ul class="list-inline list-social">
                                        <!-- <li>
                                            <a href="#" class="social-icon social-icon-facebook" target="_blank">
                                                <i class="bi bi-facebook"></i>
                                                <i class="bi bi-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="social-icon social-icon-twitter" target="_blank">
                                                <i class="bi bi-twitter-x"></i>
                                                <i class="bi bi-twitter-x"></i>
                                            </a>
                                        </li> -->
                                        <li>
                                            <a href="https://www.linkedin.com/in/laura-elena-48bb5b256/" class="social-icon social-icon-linkedin" target="_blank">
                                                <i class="bi bi-linkedin">Laura Ciotea</i>
                                                <i class="bi bi-linkedin">Laura Ciotea</i>
                                            </a>
                                        </li>
                                        <!-- <li>
                                            <a href="#" class="social-icon social-icon-youtube" target="_blank">
                                                <i class="bi bi-youtube"></i>
                                                <i class="bi bi-youtube"></i>
                                            </a>
                                        </li> -->
                                        <li>
                                            <a href="https://github.com/Laura-ship-in" class="social-icon social-icon-github" target="_blank">
                                                <i class="bi bi-github">Laura-ship-in</i>
                                                <i class="bi bi-github">Laura-ship-in</i>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->