<!-- resume Section
   ================================================== -->
   <section id="resume" class="grey-section sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row resume-timeline">

                        <div class="col-twelve resume-header">

                            <h2>Work Experience</h2>

                        </div> <!-- /resume-header -->

                        <div class="col-twelve">

                            <div class="timeline-wrap">

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-person-workspace"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Nurse</h3>
                                        <p>November 2020-March 2023</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Nurse at kindergarten</h4>
                                        <p>This period was my debut period as a medical assistant and my first job in the field. It was a beautiful period, I trained my patience, the ability to solve spontaneous problems in a timely manner; I understood, I learned, I studied the human behavior of every soul, child or adult.
                                            It was a beautiful period, with trials, but I passed them successfully, but every beginning has an end.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-briefcase-fill"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Laboratory assistant</h3>
                                        <p>10 March 2023 - Present</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Laboratory assistant</h4>
                                        <p>I wanted to do more, to develop myself nicely and I took the next step. Laboratory assistant, it was and is a job of the soul because I love what I do.
                                            In this place, I took on a lot of responsibility, being the responsibility very big and I assumed this, and when you assume this, you are ready to go to the next level.
                                            Pathological anatomy, more precisely Histopathology, from my point of view is the "hardest" branch of the laboratory, because more and more people are suffering from increasingly serious diseases, and the survival rate in most cases is increasingly lower. The biggest mistake people make is that they come to the doctor too late, they do a consultation or a blood test less and less often.
                                            To have a healthy body, we need a healthy mind!
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-bank"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Frontend JavaScript Development </h3>
                                        <p>4 November 2024- Present</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Frontend JavaScript Development </h4>
                                        <p>Like any teenager, undiscovered adult, I wanted more..we certainly have the opportunity, in this life, to experience more and more new things and why not, to remain. surprised by the degree of pleasure with which we work in that field.
                                            I had some attraction to IT, since high school, but unfortunately I did not have anyone to lead me on this path, to guide me, to help me and support me, but it is never too late until it is. I took IT courses, at a renowned academy, from my point of view, where I learned how to be a full stack developer; I learned how to create a website, how to test it so that it does not present any vulnerability that can be identified by another entity besides me, how to publish a web page, how to make a responsive page, how to work in a team, how to use Github, programming languages, frames such as React, Angular, Vue; I continue to learn to think constructively from this point of view, to improve myself and to solve the problems I encounter with more ease.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                            </div> <!-- /timeline-wrap -->

                        </div> <!-- /col-twelve -->

                    </div> <!-- /resume-timeline -->

                    <div class="row resume-timeline">

                        <div class="col-twelve resume-header">

                            <h2>Education</h2>

                        </div> <!-- /resume-header -->

                        <div class="col-twelve">

                            <div class="timeline-wrap">

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-mortarboard"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3> High school graduation </h3>
                                        <p>July 2012 - 2016</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>High school graduation</h4>
                                        <p>
                                            "Mihai Viteazul" Theoretical High School
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-mortarboard-fill"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Post-secondary Education</h3>
                                        <p>July 2018 - August 2020</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Post-secondary Education</h4>
                                        <p> 
                                            Post-secondary Education at the "Carol Davila" Post-secondary School in Bucharest
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-backpack"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Laboratory Courses</h3>
                                        <p>August 2023 - 2024</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Laboratory Courses </h4>
                                        <p> Laboratory courses for the equivalence of studies.
                                            I took the courses at a private school of Bucharest, Faculty of Medicine, Department of Pathological Anatomy.
                                            I learned how to work in a laboratory, how to use the devices, how to take samples, how to process them and how to interpret them.
                                            I learned how to work in a team, how to communicate with my colleagues and how to solve problems together.
                                        </p>
                                    </div>
                                    <div class="timeline-wrap">

                                        <div class="timeline-block">
        
                                            <div class="timeline-ico">
                                                <i class="bi bi-mortarboard"></i>
                                            </div>
        
                                            <div class="timeline-header">
                                                <h3> Frontend JavaScript Development </h3>
                                                <p>November 2024 - Present</p>
                                            </div>
        
                                            <div class="timeline-content">
                                                <h4>Frontend JavaScript Development</h4>
                                                <p>
                                                    Numerous projects including this one.
                                                </p>
                                            </div>
        
                                        </div> <!-- /timeline-block -->

                                </div> <!-- /timeline-block -->

                            </div> <!-- /timeline-wrap -->

                        </div> <!-- /col-twelve -->

                    </div> <!-- /resume-timeline -->
                </div>
            </div>
        </div>
    </div>
</section> <!-- /features -->