<!-- resume Section
   ================================================== -->
   <section id="resume" class="grey-section sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row resume-timeline">

                        <div class="col-twelve resume-header">

                            <h2>Work Experience</h2>

                        </div> <!-- /resume-header -->

                        <div class="col-twelve">

                            <div class="timeline-wrap">

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-person-workspace"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Nurse</h3>
                                        <p>November 2020-March 2023</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Nurse at kindergarten</h4>
                                        <p>This period was my debut period as a medical assistant and my first job in the field. It was a beautiful period, I trained my patience, the ability to solve spontaneous problems in a timely manner; I understood, I learned, I studied the human behavior of every soul, child or adult.
                                            It was a beautiful period, with trials, but I passed them successfully, but every beginning has an end.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-briefcase-fill"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Laboratory assistant</h3>
                                        <p>10 March 2023 - Present</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Laboratory assistant</h4>
                                        <p>I wanted to do more, to develop myself nicely and I took the next step. Laboratory assistant, it was and is a job of the soul because I love what I do.
                                            In this place, I took on a lot of responsibility, being the responsibility very big and I assumed this, and when you assume this, you are ready to go to the next level.
                                            Pathological anatomy, more precisely Histopathology, from my point of view is the "hardest" branch of the laboratory, because more and more people are suffering from increasingly serious diseases, and the survival rate in most cases is increasingly lower. The biggest mistake people make is that they come to the doctor too late, they do a consultation or a blood test less and less often.
                                            To have a healthy body, we need a healthy mind!
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-bank"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Full Stack Developer</h3>
                                        <p>4 November 2024- Present</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Full Stack Developer</h4>
                                        <p>Like any teenager, undiscovered adult, I wanted more..we certainly have the opportunity, in this life, to experience more and more new things and why not, to remain. surprised by the degree of pleasure with which we work in that field.
                                            I had some attraction to IT, since high school, but unfortunately I did not have anyone to lead me on this path, to guide me, to help me and support me, but it is never too late until it is. I took IT courses, at a renowned academy, from my point of view, where I learned how to be a full stack developer; I learned how to create a website, how to test it so that it does not present any vulnerability that can be identified by another entity besides me, how to publish a web page, how to make a responsive page, how to work in a team, how to use Github, programming languages, frames such as React, Angular, Vue; I continue to learn to think constructively from this point of view, to improve myself and to solve the problems I encounter with more ease.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                            </div> <!-- /timeline-wrap -->

                        </div> <!-- /col-twelve -->

                    </div> <!-- /resume-timeline -->

                    <div class="row resume-timeline">

                        <div class="col-twelve resume-header">

                            <h2>Education</h2>

                        </div> <!-- /resume-header -->

                        <div class="col-twelve">

                            <div class="timeline-wrap">

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-mortarboard"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Master Degree</h3>
                                        <p>July 2015 - Present</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>University of Life</h4>
                                        <p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur
                                            nisi
                                            cupidatat
                                            laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident
                                            cupidatat nulla
                                            esse
                                            cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-mortarboard-fill"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Bachelor Degree</h3>
                                        <p>July 2014 - June 2015</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>State Design University</h4>
                                        <p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur
                                            nisi
                                            cupidatat
                                            laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident
                                            cupidatat nulla
                                            esse
                                            cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi
                                            incididunt.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-backpack"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Bachelor Degree</h3>
                                        <p>May 2013 - June 2014</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Design College</h4>
                                        <p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur
                                            nisi
                                            cupidatat
                                            laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident
                                            cupidatat nulla
                                            esse
                                            cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi
                                            incididunt.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                            </div> <!-- /timeline-wrap -->

                        </div> <!-- /col-twelve -->

                    </div> <!-- /resume-timeline -->
                </div>
            </div>
        </div>
    </div>
</section> <!-- /features -->