<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio-mf sect-pt4 pb-2 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Portfolio
                    </h3>
                    <p class="subtitle-a">
                        Here are some of my projects, which I have done in the last year.
                        <br>
                        I hope you will like them!
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="work-box">
                    <a href="/src/images/Screenshot 2025-06-08 at 21.53.19.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="/src/images/Screenshot 2025-06-08 at 21.53.19.png" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title" <a href="http://127.0.0.1:5500/dist/index.html#"><u><i>My CV</i></u></a></h2>
                                <div class="w-more">
                                    <span class="w-ctegory">HTML, CSS, JavaScript</span> / <span class="w-date">04.11.2024</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="https://github.com/Laura-ship-in"> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="https://github.com/Laura-ship-in" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="/src/images/mmmm.jpg" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">Github page</h2>
                                <p>  <a href="https://github.com/Laura-ship-in"><u>Github page</u></a></p>

                                <div class="w-more">
                                    <span class="w-ctegory">Working team with Github, to manage the projects</span> / <span class="w-date">Present</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="https://github.com/Laura-ship-in"> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="http://127.0.0.1:5501/laura-ship-in.github.io/index.html" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="/src/images/masina.jpg" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title"><a href="http://127.0.0.1:5501/laura-ship-in.github.io/index.html"> <u><i>Next project</i></u></a></h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Project</span> / <span class="w-date"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="http://127.0.0.1:5501/laura-ship-in.github.io/index.html"> <span class="bi bi-plus-circle"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="https://www.youtube.com/watch?v=gUudtigf8q8" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="/src/images/masterai.jpeg" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title"><u><i>Use AI and correcting buggs</i></u></h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Correcting buggs </span> / <span class="w-date"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="https://www.youtube.com/watch?v=gUudtigf8q8"> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="/src/images/WhatsApp Video 2025-06-09 at 01.12.05 (1).mp4" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="/src/images/WhatsApp Image 2025-06-09 at 01.25.41.jpeg" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title"><u><i>Finished projects</i></u></h2>
                                <div class="w-more">
                                    <span class="w-ctegory">First project finished - you alredy read it </span> / <span class="w-date">2025</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="/src/images/WhatsApp Video 2025-06-09 at 01.12.05 (1).mp4"> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="/src/images/side-shot-code-editor-using-react-js (1).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="/src/images/side-shot-code-editor-using-react-js (1).jpg" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title"><u><i>Reviews</i></u></h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Review about my projects</span> / <span class="w-date">2025</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="#"> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Portfolio Section -->