@use "general" as *; // Importă toate variabilele fără prefix
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about-mf {
  .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .about-img {
    margin-bottom: 2rem;
    img {
      margin-left: 10px;
    }
  }
}
@media (min-width: 767px) {
  .about-mf {
    .box-pl2 {
      margin-top: 3rem;
      padding-left: 0rem;
    }
  }
}
.skill-mf {
  span {
    color: rgb(15, 14, 15);
  }
  .progress {
    background-color: rgb(10, 10, 10);
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
    .progress-bar {
      height: 0.7rem;
       background-color: rgba(0, 0, 0, 0.962);
    }
    .skill-per {
      position: relative;
      height: 100%;
      background-color: #c4acd0a7;
      border-radius: 0;
      overflow: hidden;
    }
    .skill-per::after {
      content: attr(data-percentage);
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
      font-size: 0.8rem;
      color: #fff;
    }
    .skill-per {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: $color_1;
      width: 0;
      transition: width 1s ease-in-out;
    }

    &.html {
      width: 90%;
    }
    &.css {
      width: 80%;
    }
    &.js {
      width: 70%;
    }
    &.php {
      width: 60%;
    }

  }
}