@use "general" as *; // Importă toate variabilele fără prefix
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  text-align: center;
  color: black;
  padding: 25px 0;
  background: #dfd6eec5;
  .copyright {
    margin-bottom: 0.3rem;
  }
  .credits {
    margin-bottom: 0;
    a {
      color: black;
    }
  }
}
