// @use "general" as *; // Importă toate variabilele fără prefix

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    padding: center;
  }

  .review-form {
    margin-bottom: 20px;
  }

  .reviews {
    margin-top: 20px;
  }

  .review {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  .review h3 {
    margin: 0 0 5px 0;
  }

  .review p {
    margin: 5px 0;
  }